<div style='text-align:center' class="jumbotron">
  <h1>NFL Fantasy Chart!</h1>
  <div style='width:800px' class='container'>
        <label style='margin-top:10px;' for="team">Team</label>
        <select style='width:800px;margin-top:10px;' id='team' class="form-control">
            <option ng-repeat="team in teams" value='{{team.Key}}'>{{team.FullName}}</option>
        </select>
        <label style='margin-top:10px;' for="year">Year</label>
        <select style='width:800px;margin-top:10px;' id='year' class="form-control">
            <option value='2015'>2015</option>
            <option value='2014'>2014</option>
            <option value='2013'>2013</option>
            <option value='2012'>2012</option>
            <option value='2011'>2011</option>
        </select>
        <div ng-show="statTypes.length > 0">
            <label style='margin-top:10px;' for="statType">Stat Type</label>
            <select style='width:800px;margin-top:10px;' id='statType' class="form-control" ng-options="stat for stat in statTypes" ng-model="selectedStat">
            </select>
        </div>
        <button style='margin-top:50px;' type="button" class="btn btn-success" ng-click='runQuery()'>Run!</button>
        
        <div style='text-align:center; width:800px; padding-top:100px;' id="chart_div"></div>
        
  </div>
</div>