    <div class="container" style='text-align:center; padding-top:10%'>
      <form class="form-signin" style="">
        <h2 class="form-signin-heading">Trailmapper!</h2>
          <input style="margin:0px auto; display:block;" type="image" src="img/UA-login_btn-medium.png" class="img-responsive" alt="Log In" ng-click="onLoginClick()" />    
        </div>
       
      </form>

    </div> <!-- /container -->

